* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    color: #fff;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 40px;
}

.profile img {
    width: 200px;
    height: 200px;
    border-radius: 15%;
    object-fit: cover;
    border: 5px solid #9969b4;
}

.profile h1 {
    font-size: 2.5rem;
    margin-top: 20px;
    color:  #9969b4 ;
}

.profile h2 {
    font-size: 1.5rem;
    color: #ffffff;
}

.services {
    text-align: center;
}

.services h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #ffffff;
}

.service-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.service-item {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
}

.service-item h3 {
    font-size: 1.25rem;
    color:  #611ead;
    margin-bottom: 10px;
}

.service-item p {
    font-size: 1rem;
    color:  #5e0d8d;
}

@media (max-width: 768px) {
    .service-grid {
        grid-template-columns: 1fr;
    }
}

.service-item:hover {
    transform: translateY(-10px);
    background-color: #eaddf1;
}

.formulario{
    margin-top: 50px;
    color: white;
    

}


.button{
    width: 100px;
    padding: 10px;
    border-radius: 10px;
    color: #7519aa;
    
}

.logo-xs{
    width: 35px;
    margin: 10px;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}